* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    font-size: 20px;
    line-height: 1.1;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    background-color: #343434;
    word-spacing: normal;
    letter-spacing: normal;
    text-transform: initial;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.header, .footer {
    background-color: black;
    padding: 10px;
    position: relative;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    height: 50px;
}

.nav__item {
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    color: white;
}

.nav__item:hover {
    background-color: rgb(133, 133, 133);
}

.nav__item_logo {
    position: absolute;
    left: 20px;
    top: 25px;
}

.nav__item_active {
    border-bottom: 3px solid white;
}

.main {
    flex: 1;
    color: white;
    padding: 100px 100px;
}

@media screen and (max-width: 600px) {
    .footer {
        display: none;
    }
}
